*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=sans+serif');
html,body{
	width: 100%;
	height: 100%;
	font-family: 'sans serif';
	font-size: 20px;
}

.navbar{
	background-color: #130202 !important;
	height: 90px;
}
.navbar li a{
	color: #fff !important;
	margin: 0px 20px;
	padding: 6px 10px;
	text-decoration: none;
}
.dropdown{
	position: relative;
	display: inline-block;
	margin-bottom: 2px;	
}

/*sub-menu*/
.dropdown-menu{
	display: none;
	position: absolute;
	margin-left: -30px;
    width: 290px;
    background: #151515;
    margin-top: 1px;
    top: 100%;
    z-index: 10;
    text-decoration: none;
    transition: all 0.1s 0.1s ease-in;
    -moz-transition: all 0.1s 0.1s ease-in;
    -webkit-transition: all 0.1s 0.1s ease-in;
 
}
.dropdown:hover .dropdown-menu{
	display: block;
	text-decoration: none;
}
.dropdown-menu li{
	list-style : disc inside !important;
	color: white !important;
	text-decoration: none !important;	
}

.dropdown-menu li a:hover{
	color: red !important;
}
#home-button {
  list-style-type: none;
  background-color: #DF0101;
  width: auto;
  height: 37px;
  transition: all 0.1s 0.2s;
  border-radius:10px;
}
#home-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
	text-decoration: none ;
}
#home-button:active {
	position:relative;
	top:1px;
}

.dropdown-toggle:hover {
  list-style-type: none;
  background-color: #DF0101;
  width: auto;
  height: 37px;
  transition: all 0.1s;
  border-radius:10px;
}
.list-item:hover{
  list-style-type: none;
  background-color: #DF0101;
  width: auto;
  height: 37px;
  transition: all 0.1s;
  border-radius:10px;
}

.text-divider {
  display: flex;
  align-items: center;
  --text-divider-gap: 0.5rem;
}
.text-divider::before,
.text-divider::after {
  content: '';
  height: 1px;
  background-color: #fff;
  flex-grow: 1;
}
.text-divider::before {
  margin-right: var(--text-divider-gap);
  margin-left: 150px;
}
.text-divider::after {
  margin-left: var(--text-divider-gap);
  margin-right: 150px;
}
.col-12 {
	background-color: #170202;
	height: 400px;
	color: #fff;
	text-align: center;
	padding: 5em;
}
/*-----------------3 cái nút gì đó ----------------*/

.intro{
	text-align: center;
}

.index{
	text-align: center;
}
.index1{
	display: inline-table;
	text-align: center;
}
.index a{
	color: red;
	text-decoration: none;
}
.index a:hover{
	color: blue;
}
/*------------------------------CONTENT ---------------------*/
.content{
	margin: 0 auto;
	padding: 0;
	border: 0;
	max-width: 800px;
	max-height: 800px;

}
.information {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.item{
	width: 30%;
	height: auto;
}
#text{
	text-align: center;
}

.button-sign-up {
	-moz-box-shadow:inset 2px 4px 19px -3px #f5978e;
	-webkit-box-shadow:inset 2px 4px 19px -3px #f5978e;
	box-shadow:inset 2px 4px 19px -3px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
	text-indent:0px;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:36px;
	font-weight:bold;
	font-style:normal;
	height:60px;
	line-height:55px;
	width:800px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 4px 6px #810e05;
}
.button-sign-up:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}.button-sign-up:active {
	position:relative;
	top:1px;
}
#word-OR{
	text-align: center;
	opacity: 0.5;
}

.other-ways{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 4em;
	color: #fff;
}
.Google{
	background-color: #EA4335;
	font-size: 25px;
	padding: 7px 15px;
	border-radius: 10px;
	color: #fff;
}
.Google:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FF0000), color-stop(1, red) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');	
}
.FB{
	background-color: #4267b2;
	font-size: 25px;
	padding: 7px 15px;
	border-radius: 10px;
}
.FB:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #08088A), color-stop(1, #08088A) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
}
.Twitter{
	background-color: #1DA1F2;
	font-size: 25px;
	padding: 7px 15px;
	border-radius: 10px;
}
.Twitter:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #01DFD7), color-stop(1, #01DFD7) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
}

/*----------------------------------FOOTER */
#edit{
	background-color: #151515;
	text-align: center;
	top: 50%;
}
.footer{
   background-color: #151515;	
   left: 0;
   margin-bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   height: 250px;
   padding: 30px;
}
#contact{
	margin: 15px;
}
#contact a{
	margin-right: 10px;
	color: #fff;
}
#contact a:hover{
	color: red;
}
#final-text{
	margin-bottom: 0px !important;
}
#terms-of-use:hover{
	color: red;
	text-decoration: none;
}